{% extends 'base.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Create new Demande</h1>

    {{ include('demande/_form.html.twig') }}

{% endblock %}
